{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}
    {% include 'components/search_box.html' %}
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-sm-responsive">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Celular</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pessoa in dados %}
                        <tr>
                            <td>{{ pessoa.nome }}</td>
                            <td>{{ pessoa.cpf }}</td>
                            <td>{{ pessoa.email }}</td>
                            <td>{{ pessoa.telefone }}</td>
                            <td>{{ pessoa.celular }}</td>
                            <td>
                                <a href="{% url 'url_atualiza_pessoa' pessoa.id %}" class="btn btn-warning">Editar</a>
                                <a href='#'
                                   onclick='confirmarDelete("{{ pessoa }}", "{% url 'url_deleta_pessoa' pessoa.id %}")'
                                   class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}