{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

    <!--
        Action - REGISTRAR/ATUALIZAR
        Model - Cachorro, Veterinário, Consulta, etc
     -->
{% block title %}
    Listagem {{ model }}
{% endblock %}

{% block main %}
    <div class="mt-3 mb-3">
        <div class=" row d-flex align-items-center justify-content-around">
            <div class="col-8">
                <h1>Listagem {{ model }}</h1>
            </div>
            <div class="col-4">
                <a href="{% url 'registro_teste' %}" class="btn btn-registrar">Registrar {{ model }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Teste</th>
                            <th>Teste</th>
                            <th>Teste</th>
                            <th>Teste</th>
                            <th>Teste</th>
                            <th>Teste</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>teste.teste</td>
                            <td>teste.teste1</td>
                            <td>teste.teste2</td>
                            <td>teste.teste3</td>
                            <td>teste.teste4</td>
                            <td>teste.teste5</td>
                            <td>
                                <a class="btn btn-warning" href="{% url 'atualizacao_teste' %}">Atualizar</a>
                                <a class="btn btn-danger" href="{% url 'deleta_teste' %}">Deletar</a>
                            </td>
                        </tr>
                        {% for teste in testes%}
                            <tr>
                                <td>teste.teste</td>
                                <td>teste.teste1</td>
                                <td>teste.teste2</td>
                                <td>teste.teste3</td>
                                <td>teste.teste4</td>
                                <td>teste.teste5</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}