{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Listagem Vacina
{% endblock %}

{% block main %}
    <div class="mt-3 mb-3">
        <div class=" row d-flex align-items-center justify-content-around">
            <div class="col-6">
                <h1>Listagem de Vacinações</h1>
            </div>
            <div class="col-6">
                <a href="{% url 'url_cadastro_vacinacao' %}" class="btn btn-registrar">Registrar Aplicação</a>
                <a href="{% url 'url_cadastro_vacina' %}" class="btn btn-registrar">Registrar Nova Vacina</a>
                <a href="{% url 'url_listagem_vacina' %}" class="btn btn-registrar">Listagem de Vacinas</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-sm-responsive">
                    <thead>
                        <tr>
                            <th>Cachorro</th>
                            <th>Vacina</th>
                            <th>Data</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vacinacao in dados %}
                            <tr>
                                <td>{{ vacinacao.cachorro }}</td>
                                <td>{{ vacinacao.vacina }}</td>
                                <td>{{ vacinacao.data }}</td>
                                <td>
                                    <a href="#" class="btn btn-warning">Editar</a>
                                    <a href="#" class="btn btn-danger">Excluir</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}