{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
<div class=" row d-flex align-items-center justify-content-around">
    <div class="col-6">
        <h1>{{ title_page }} de {{ model }}</h1>
    </div>
    <div class="col-6">
        <a href="{% url 'url_cadastro_vacinacao' %}" class="btn btn-listagem-registrar" style="margin-left: 10px">Registrar Aplicação</a>
        <a href="{% url 'url_listagem_vacina' %}" class="btn btn-listagem-registrar">Gerenciar Vacinas</a>
    </div>
</div>
{% endblock %}

{% block main %}
    {% include 'components/search_box.html' %}
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-sm-responsive">
                <thead>
                    <tr>
                        <th>Cachorro</th>
                        <th>Vacina</th>
                        <th>Data</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vacinacao in dados %}
                        <tr>
                            <td>{{ vacinacao.cachorro }}</td>
                            <td>{{ vacinacao.vacina }}</td>
                            <td>{{ vacinacao.data }}</td>
                            <td>
                                <a href="{% url 'url_atualiza_vacinacao' vacinacao.id %}" class="btn btn-warning">Editar</a>
                                <a href='#'
                                   onclick='confirmarDelete("{{ vacinacao }}", "{% url 'url_deleta_vacinacao' vacinacao.id %}")'
                                   class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}