{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

    <!--
        Action - REGISTRAR/ATUALIZAR
        Model - Cachorro, Veterinário, Consulta, etc
     -->
{% block title %}
    {{ action }} {{ model }}
{% endblock %}

{% block main %}
    <div class="mt-3 mb-3">
        <div class=" row d-flex align-items-center justify-content-around">
            <div class="col-8">
                <h1>{{ action }} {{ model }}</h1>
            </div>
            <div class="col-4">
                <a href="{% url 'listagem_teste' %}" class="btn btn-listagem">Listagem {{ model }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-row d-flex justify-content-end">
                        <button type="reset" class="btn btn-danger">
                            <i class="fa fa-exclamation" aria-hidden="true"></i> &nbsp Limpar Campos
                        </button>
                        &nbsp
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check" aria-hidden="true"></i> &nbsp {{ action }} {{ model }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}